{#
/**
 * @file
 */
#}
<div class="row" id="page-wrapper"><div id="page">

  <header id="header" role="banner" aria-label="{{ 'Site header'|t}}"><div class="columns section clearfix">

    {% if site_name or site_slogan %}
      <div id="name-and-slogan"{% if hide_site_name and hide_site_slogan %} class="visually-hidden"{% endif %}>
        {% if logo %}
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home" id="logo">
            <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
          </a>
        {% endif %}
        <h1 id="site-name"{% if hide_site_name %} class="visually-hidden" {% endif %}>
          <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home"><span>{{ site_name }}</span></a>
        </h1>

        {% if site_slogan %}
          <div id="site-slogan"{% if hide_site_slogan %} class="visually-hidden"{% endif %}>
            {{ site_slogan }}
          </div>
        {% endif %}
      </div><!-- /#name-and-slogan -->
    {% endif %}

    {{ page.header }}

  </div></header> <!-- /.section, /#header-->

  {% if messages %}
    <div id="messages"><div class="section clearfix">
      {{ messages }}
    </div></div> <!-- /.section, /#messages -->
  {% endif %}


  <div id="main-wrapper" class="clearfix columns large-12"><div id="main" class="clearfix row">

    <div id="sidebar-second" class="column sidebar column large-4"><aside class="section panel" role="complementary">
      <p>Twig JS with Drupal 8 demo page made by <a href="https://twitter.com/orkj">Eirik.</a></p>
      <p>Code, resources and ways to say hello:</p>
      <ul>
        <li><a href="https://orkjern.com/twig-and-twig-js">Blog post</a></li>
        <li><a href="https://twitter.com/orkj">@orkj</a></li>
        <li><a href="mailto:eirik@morland.no">Send me an email</a></li>
        <li><a href="https://github.com/eiriksm/twigjs-drupal8">Theme code</a></li>
      </ul>
    </aside></div><!-- /.section, /#sidebar-second -->
    <main class="column large-8" id="content" role="main"><section class="section">
      <div id="content-area">
        {{ page.content }}
      </div>
    </section></main> <!-- /.section, /#content -->

  </div></div><!-- /#main, /#main-wrapper -->

  <div id="footer-wrapper"><footer class="section">

    {% if page.footer %}
      <div id="footer" role="contentinfo" class="clearfix">
        {{ page.footer }}
      </div> <!-- /#footer -->
   {% endif %}

  </footer></div> <!-- /.section, /#footer-wrapper -->

</div></div> <!-- /#page, /#page-wrapper -->
